<h1>Welcome to User's Feed World App!</h1>
<p>In these app you can: </p>
<ul>
  <li><a [routerLink]='["/users"]'>Manage users</a> and create a feed for-each one!</li>
  <li><a [routerLink]='["/feeds"]'>Follow users</a> to stay informated about them</li>
</ul>
<p>Before checking any specific user's news feed, you can check all of them together:</p>
<div>
  <div class="input-group" style="margin-bottom: 10px;">
    <span class="input-group-addon glyphicon glyphicon-zoom-in"></span>
    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search news..." aria-describedby="sizing-addon2">
  </div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Feed" aria-controls="home" role="tab" data-toggle="tab">Complete Feed</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="Feed">
      <post-index-component [posts]="posts" [searchText]="searchText" (refreshFeed)="refreshFeed()"></post-index-component>
    </div>
  </div>
</div>
