<h1>Welcome to User's Feed World App!</h1>
<p>Follow these steps to have your own newsfeed: </p>
<ol>
  <li><a [routerLink]='["/users"]'>Create you user</a> and get access to your own feed!</li>
  <li><a [routerLink]='["/feeds"]'>Impersonate your user</a> and start posting and following others</li>
</ol>
<p>Before checking any specific user's news feed, you can check all of them together:</p>
<div>
  <div class="input-group" style="margin-bottom: 10px;">
    <span class="input-group-addon glyphicon glyphicon-zoom-in"></span>
    <input type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search news..." aria-describedby="sizing-addon2">
  </div>
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#Feed" aria-controls="home" role="tab" data-toggle="tab">Complete Feed</a></li>
  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="Feed">
      <post-index-component [posts]="posts" [searchText]="searchText" (refreshFeed)="refreshFeed()"></post-index-component>
    </div>
  </div>
</div>
