<section>
  <div class="form-group">
    <label>Impersonate a user: </label>
    <select class="form-control" name="users" [(ngModel)]="selectedUser" (ngModelChange)="onSelectUser($event)">
      <option [ngValue]="null" disabled>Choose your user</option>
      <option *ngFor="let user of users" [ngValue]="user">{{ user.name }}</option>
    </select>
  </div>
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#{{instanceId}}" aria-controls="home" role="tab" data-toggle="tab">Feed</a></li>
      <li role="presentation"><a href="#{{instanceId + 1}}" aria-controls="profile" role="tab" data-toggle="tab">Users</a></li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane fade in active" id="{{instanceId}}"><post-index-component [posts]="posts" [selectedUser]="selectedUser" (refreshFeed)="refreshFeed()"></post-index-component></div>
      <div role="tabpanel" class="tab-pane fade" id="{{instanceId + 1}}"><users-list-component [showDetailedList]="false" [showActions]="true" [selectedUser]="selectedUser"></users-list-component></div>
    </div>
  </div>
</section>
